doctype html
html(lang="en")
    head
        title= title
        script(type='text/javascript' src='https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
        link(rel='stylesheet', href='/css/style.css', type='text/css')
    body
        h1= title
        #maths
            .equ= ('\\[' + equ1.latex + '\\]')
            .equ= ('\\[' + equ2.latex + '\\]')
        #mathslink
            .equlink
                a(href='/vote/#{equ1.id}/beats/#{equ2.id}') beautiful!
            .equlink
                a(href='/vote/#{equ2.id}/beats/#{equ1.id}') beautiful!
        br
        #debug
            div= equ1.score
            div= equ2.score

